/* importando fonte */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* resetando estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fontes e cores padrão */
:root{
    --font-primaria: "Open Sans", sans-serif;
    --font-tamanho-primaria: 24px;
    --cor-primaria: black;
    --cor-cinza-escuro: #333;
    --cor-cinza-claro: #666;
    --cor-fundo-menu: #f3f3f3;
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 20px;
    font-family: var(--font-primaria);
    font-size: var(--font-tamanho-primaria);
    color: var(--cor-primaria);
}

a, button{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.abertura-pagina span{
    font-weight: 900;
}

.menu-toggle{
    display: none;
}

.menu-label{
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: var(--cor-fundo-menu);
    padding: 5px 10px;
    z-index: 5;
}

.menu-label:hover{
    background-color: #dfdfdf;
}

.menu-label span{
    display: block;
    width: 20px;
    height: 3px;
    background-color: #2F2F2F;
    margin: 5px 0;
    transition: all .3s ease;
}

.menu{
    position: fixed;
    z-index: 4;
    top: 0;
    right: -100%;
    font-size: 18px;
    background-color: var(--cor-fundo-menu);
    transition: right 0.3s ease-in-out;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle:checked ~ .menu{
    right: 0;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    padding: 5px 20px;
}

.menu ul li:hover{
    background-color: #dfdfdf;
}

.menu ul li:first-child{
    padding-top: 10px;
}

.menu ul li:last-child{
    padding-bottom: 10px;
}

.menu-toggle:checked ~ .menu-label span:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle:checked ~ .menu-label span:nth-child(2){
    opacity: 0;
}

.menu-toggle:checked ~ .menu-label span:nth-child(3){
    transform: rotate(-45deg) translate(7px, -6px);
}

.cargo{
    margin: 50px 0;
}

.destaque-cargo{
    font-size: 64px;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    line-height: 64px;
}

.entrada-cargo{
    color: var(--cor-cinza-claro);
}

.chamada-header span{
    font-weight: bold;
    font-style: italic;
}

.formacao-academica{
    margin: 30px 0;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo-formacao{
    font-weight: bold;
}

.botao-contato, .botao-ver-git-hub{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: var(--cor-primaria);
    border: none;
    border-radius: 20px;
    padding: 10px 10px 10px 20px;
    display: flex;
    align-items: center;
}

.botao-contato span, .botao-ver-git-hub span{
    background-color: #c2c2c2;
    color: var(--cor-primaria);
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 30px;
    display: flex;
}

.social{
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

.texto-apresentacao, .conteudo-contato p{
    font-size: 16px;
    color: var(--cor-cinza-escuro);
}

.texto-apresentacao p{
    padding: 10px 0;
    line-height: 1.6em;
}

.habilidades{
    padding: 10px 0;
}

.habilidades h3{
    font-size: 24px;
    font-weight: 900;
}

.lista-habilidades{
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.projetos{
    padding: 20px 0;
}

.projetos h2, .experiencia-profissional h2, .contato h2{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    padding-bottom: 20px;
}

.projetos div{
    padding: 10px 0;
}

.projetos img{
    width: 100%;
}

.projetos h3{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    padding: 10px 0;
}

.projetos p{
    padding: 10px 0;
    font-size: 16px;
    color: var(--cor-cinza-claro);
    line-height: 1.6em;
}

.botoes-projetos{
    display: flex;
    gap: 10px;
    padding-top: 20px;
}

.botao-ver-git-hub{
    font-size: 16px;
}

.ver-online{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #7BBE0F;
    font-size: 16px;
    width: 30%;
    font-weight: bold;
}

.container-cartoes-experiencias{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.container-cartoes-experiencias div{
    min-width: 90%;
    min-height: 600px;
    background-color: #BFBFBF;
    scroll-snap-align: center;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.ordem-trabalho{
    position: absolute;
    bottom: 0;
    right: 30px;
    color: white;
    font-size: 200px;
    font-weight: 900;
    line-height: 155px;
}

.container-cartoes-experiencias img{
    max-width: 95%;
    position: relative;
    z-index: 3;
}

.lugar-trabalho{
    position: absolute;
    z-index: 4;
    left: 30px;
    bottom: 70px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
}

.periodo-trabalho{
    position: absolute;
    left: 30px;
    bottom: 40px;
    font-size: 16px;
}

.contato{
    padding: 40px 0;
}

.imagem-contato{
    background-color: black;
    border-radius: 20px 20px 0 0;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.conteudo-contato{
    position: relative;
    left: -20px;
    width: 100vw;
    padding: 30px;
    background-color: var(--cor-fundo-menu);
    border-radius: 20px;
}

.conteudo-contato h3{
    font-family: "Open Sans Condensed", sans-serif;
}

.conteudo-contato p{
    padding: 10px 0;
    line-height: 1.6em;
}

.formulario-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 15px;
}

.formulario-contato input, .formulario-contato textarea{
    width: 100%;
    background-color: #D9D9D9;
    border: 1px solid #ADADAD;
    border-radius: 10px;
    padding: 15px;
    font-family: var(--font-primaria);
}

.formulario-contato input[type=submit]{
    background-color: black;
    color: white;
    width: 60%;
    margin-top: 10px;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.social-rodape{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.agradecimentos{
    background-color: #2F2F2F;
    color: white;
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 30px;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.agradecimentos p{
    width: 70%;
}

.col-2 img{
    display: none;
}

.col-apresentacao{
    display: none;
}

.habilidades-desktop{
    display: none;
}

.desktop{
    display: none;
}

@media screen and (min-width: 768px) {
    body{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col-1, .col-2{
        width: 50%;
    }

    header{
        display: flex;
        align-items: center;
    }

    .desktop{
        display: block;
    }

    .menu{
        position: fixed;
        z-index: 3;
        top: 20px;
        right: -10%;
        font-size: 18px;
        background-color: var(--cor-fundo-menu);
        transition: right 0.3s ease-in-out;
        width: 150px;
        height: auto;
    }

    .menu-toggle:checked ~ .menu{
        right: 70px;
    }

    .col-1{
        padding: 20px;
    }

    .col-2 img{
        text-align: center;
        display: block;
    }

    .col-apresentacao{
        display: block;
    }

    .cargo{
    margin: 0;
    }

    .texto-apresentacao{
        background-color: #FAFAFA;
        padding: 60px 0;
        margin: 40px 0;
        display: flex;
        position: relative;
    }

    .texto-apresentacao p{
        text-align: left;
        width: 75%;
    }

    .col-apresentacao{
        position: relative;
    }

    .apresentacao-criatividade, .apresentacao-responsabilidade{
        font-size: 90px;
        font-weight: 900;
        text-transform: uppercase;
        font-style: italic;
        -webkit-text-stroke: 1px black;
        color: rgba(0,0,0,0);
        position: absolute;
        right: 40px;
    }

    .apresentacao-curiosidade{
        position: absolute;
        font-size: 64px;
        font-weight: 900;
        text-transform: uppercase;
        font-style: italic;
        right: 40px;
        top: 90px;
    }

    .apresentacao-responsabilidade{
        top: 180px;
    }

    .habilidades-desktop{
        display: block;
        position: absolute;
        right: 40px;
        bottom: 0px;
    }

    .habilidades-desktop h3{
        text-align: right;
    }

    .mobile{
        display: none;
    }

    .projetos{
        display: flex;
        flex-direction: row;
        gap: 60px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .projetos div{
        flex: 1;
    }

    .projeto{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .projeto div{
        flex: 0;
    }
    
    .experiencia-profissional{
        max-width: 1200px;
        padding: 40px 0;
        margin: 0 auto;
    }

    .container-cartoes-experiencias{
        display: flex;
    }

    .container-cartoes-experiencias div{
        min-width: auto;
        flex: 1;
        min-height: 400px;
        background-color: #BFBFBF;
        scroll-snap-align: center;
        border-radius: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .ordem-trabalho{
        position: absolute;
        bottom: 0;
        right: 30px;
        color: white;
        font-size: 200px;
        font-weight: 900;
        line-height: 155px;
    }

    .container-cartoes-experiencias img{
        max-width: 95%;
        position: relative;
        z-index: 2;
    }

    .lugar-trabalho{
        position: absolute;
        z-index: 4;
        left: 30px;
        bottom: 70px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "Open Sans Condensed", sans-serif;
    }

    .periodo-trabalho{
        position: absolute;
        left: 30px;
        bottom: 40px;
        font-size: 16px;
    }

    .contato{
        max-width: 1200px;
        margin: 0 auto;
    }

    .form-container{
        display: flex;
        flex-direction: row-reverse;
    }

    .imagem-contato{
        width: 70%;
        display: flex;
        border-radius: 0 20px 20px 0;
    }

    .imagem-contato img{
        width: 306px;
        height: 306px;
        padding: 20px;
    }

    .conteudo-contato{
        left: 0;
        width: 100%;
        border-radius: 20px 0 0 20px;
    }

    .social-rodape{
        max-width: 1200px;
        margin: 0 auto;
        justify-content: left;
    }
}